<div class="goals">
	<div class="fit-goals">
		<h3>Status Geral da Transação: </h3>

		<div class="col-sm-6 goal-left" ng-repeat='payment in payments'>
			<div class="goal-img">
				<div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
					<img class="img-circle border-effect" src="{{ safeChild(payment.user, 'photoURL') }}" alt=" " />
				</div>
			</div>
			<div class="goal-info">
				<h3 style="color: white; text-indent: 0;">{{ safeChild(payment.user, 'displayName') }}</h3>
				<h4 style="margin-top:8px;">Valor:</h4>
				<h3 style="color: white; text-indent: 0; margin-top:-15px;">R$ {{ payment.valorParcial }}</h3>
				<h4 style="margin-top:8px;">Status</h4>
				<h3 style="color: {{ getSituacaoColor(payment); }}; text-indent: 0; margin-top:-15px;">{{ getSituacao(payment); }}</h3>
			</div>
			<div class="clearfix"></div>
		</div>

		<div class="col-sm-6 goal-left">
			<div class="goal-img">
				<div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
					<img class="img-circle border-effect" src="" alt=" " />
				</div>
			</div>
			<div class="goal-info">
				<h3 style="color: white; text-indent: 0;">R$ {{ transaction.valorTotal }}</h3>
				<h4 style="margin-top:8px;">Total</h4>
				<h3 style="color: white; text-indent: 0; margin-top:-15px;">R$ {{ getRestante() }}</h3>
				<h4 style="margin-top:8px;">Restante</h4>
			</div>
			<div class="clearfix"></div>
		</div>

		<div class="clearfix"></div>

	</div>
</div>

<div class="goals">
	<div class="fit-goals">
		<h3>Finalizar:</h3>
		<div class="col-sm-6 goal-left">
				<div class="teste" style="width: 300px; height: 80px; border: solid 3px white; border-radius: 80px;display: block; margin-left: auto; margin-right: auto; background: #194974;" ng-click="confirmar();">
				<div class="goal-img">

					<div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
						<a href=""><i class="fa fa-check fa-3x" style="color: white; margin-top: 15px; margin-left: 25px;"></i></a></div>
					</div>
					<div class="goal-info">
						<h2 style="color: white; margin-top: 20px;">Confirmar</h2>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>

			<div class="clearfix"></div>
	</div>
</div>
