<div id="criarConta">

  <div class="form">

    <label for="username">Usuário</label>
    <input class="form-control" type="text" id="username" ng-model="username" placeholder="Usuário">

    <label for="password">Senha</label>
    <input class="form-control" type="password" id="password" ng-model="password" placeholder="Senha">

    <label for="password">Confirmar senha</label>
    <input class="form-control" type="password" id="password" ng-model="passwordConfirm" placeholder="Confirmar senha">

    <hr>

    <button type="button" class="btn btn-primary btn-block" ng-click="confirma();">Confirmar</button>
    <a class="btn btn-default btn-block" href="#!/home" role="button">Cancelar</a>

    <hr>

  </div>

</div>
