<div class="details-grid">
	<div class="details-shade">
		<div class="col-md-6">
			<img class="img-circle border-effect" src="{{ photoURL }}" alt=" " style="display: block; margin-left: auto; margin-right: auto;" />
		</div>
		<div class="col-md-6" style="color: #fff; font-size: 22px; margin: 12px 0 9px; text-align: center; margin: 0 auto;">
			<h3>{{ displayName }}</h3>
			<!-- incluir botões de dinheiro -->
			<div class="col-md-4" style="padding-left: 0; padding-right: 0; margin-top: 20px; margin-bottom: 40px;">
				<a class="btn btn-primary btn-lg" align="center" style="width: 250px; margin-bottom: 10px; background: #194974; border: solid 3px white; border-radius: 25px;" href="#!/receber" role="button"><i class="fa fa-usd"></i> Receber Pagamento</a>
				<a class="btn btn-primary btn-lg" align="center" style="width: 250px; margin-bottom: 10px; background: #194974; border: solid 3px white; border-radius: 25px;" href="#!/dadosPagamento/x001" role="button"><i class="fa fa-send"></i> Enviar Pagamento</a>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>

<div class="follow" style="padding-top: 10px; padding-bottom: 20px;">

	<div ng-repeat="payment in payments">
		<div class="col-sm-12 follow-left text-center">
			<h3>{{ payment.data }}</h3>
			<p>Valor: {{ payment.valor }}</p>
			<p>Forma de Pagamento: {{ payment.metodoPagamento }}</p>
			<p>Formato da Compra: {{ payment.formatoPagamento }}</p>
			<!-- <p style="font-weight: bold; color: #d35400; border: solid 2px #d35400; border-radius: 25px; width: 250px; display: block; margin-left: auto; margin-right: auto;"><i class="fa fa-arrow-right"></i> Pagamento Enviado</p> -->
			<p style="font-weight: bold; color: #27ae60; border: solid 2px #27ae60; border-radius: 25px; width: 250px; display: block; margin-left: auto; margin-right: auto;"><i class="fa fa-arrow-left""></i> Pagamento Recebido</p>
		</div>
		<hr>
	</div>

	<div ng-show="payments==null || payments.length==0">
		<div class="col-sm-12 follow-left text-center">
			<h3>Sem compras ainda!</h3>
		</div>
		<hr>
	</div>

	<div class="clearfix"></div>

</div>

<!-- <a href="#">
	<div class="col-md-12 text-center" style="background: purple; height: 50px; padding-top: 13px;">
		<h3 style="color: white;">Mais Transações</h3>
	</div>
</a> -->
