<div class="details-grid">
	<div class="details-shade">
		<div class="col-md-6">
			<img class="img-circle border-effect" src="{{ photoURL }}" alt=" " style="display: block; margin-left: auto; margin-right: auto;" />
		</div>
		<div class="col-md-6" style="color: #fff; font-size: 22px; margin: 12px 0 9px; text-align: center; margin: 0 auto;">
			<h3>{{ displayName }}</h3>
			<!-- incluir botões de dinheiro -->
			<div class="col-md-4" style="padding-left: 0; padding-right: 0; margin-top: 20px; margin-bottom: 40px;">
				<a class="btn btn-primary btn-lg" align="center" style="width: 250px; margin-bottom: 10px; background: #194974; border: solid 3px white; border-radius: 25px;" href="#!/receber" role="button"><i class="fa fa-usd"></i> Receber Pagamento</a>
				<a class="btn btn-primary btn-lg" align="center" style="width: 250px; margin-bottom: 10px; background: #194974; border: solid 3px white; border-radius: 25px;" href="#!/pagar" role="button"><i class="fa fa-send"></i> Enviar Pagamento</a>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>

<div class="follow" style="padding-bottom: 20px; border: none;">
	<div class="" style="width: 100%; height: 50px; background: #194974; border: none; text-align: center; color: white; padding-top: 14px; margin-bottom: 10px;"><h4><i class="fa fa-clock-o"></i> Histórico de Transações</h4></div>
	<div ng-repeat="obj in getList()" ng-click="open(obj);">
		<div class="col-sm-12 follow-left text-center">
			<h3>{{ obj.data }}</h3>
			<h4>Valor: R$ {{ obj.valorTotal }}</h4>
			<p ng-show="isEfetuado(obj)">Forma de Pagamento: {{ obj.forma }}</p>
			<p ng-show="isEfetuado(obj)">Formato da Compra: {{ obj.tipo }}</p>
			<p style="font-weight: bold; color: #d35400; border: solid 2px #d35400; border-radius: 25px; width: 250px; display: block; margin-left: auto; margin-right: auto;" ng-show="isEfetuado(obj)"><i class="fa fa-arrow-right"></i> Pagamento Enviado</p>
			<p style="font-weight: bold; color: #27ae60; border: solid 2px #27ae60; border-radius: 25px; width: 250px; display: block; margin-left: auto; margin-right: auto;" ng-show="isRecebido(obj)"><i class="fa fa-arrow-left"></i> Pagamento Recebido</p>
		</div>
		<hr>
	</div>

	<div ng-show="getList().length == 0">
		<div class="col-sm-12 follow-left text-center">
			<h3>Sem histórico ainda!</h3>
		</div>
		<hr>
	</div>

	<div class="clearfix"></div>

</div>

<!-- <a href="#">
	<div class="col-md-12 text-center" style="background: purple; height: 50px; padding-top: 13px;">
		<h3 style="color: white;">Mais Transações</h3>
	</div>
</a> -->
