<div class="details-grid">
	<div class="details-shade">
		<div class="col-md-6">
			<img class="img-circle border-effect" src="{{ photoURL }}" alt=" " style="display: block; margin-left: auto; margin-right: auto;" />
		</div>
		<div class="col-md-6" style="color: #fff; font-size: 22px; margin: 12px 0 9px; text-align: center; margin: 0 auto;">
			<h3>{{ displayName }}</h3>
			<!-- incluir botões de dinheiro -->
			<div class="col-md-4" style="padding-left: 0; padding-right: 0; margin-top: 20px; margin-bottom: 40px;">
				<a class="btn btn-primary btn-lg" align="center" style="width: 250px; margin-bottom: 10px; background: purple; border: none; " href="#!/receber" role="button">Receber Pagamento</a>
				<a class="btn btn-primary btn-lg" align="center" style="width: 250px; background: purple; border: none; " href="#!/pagar" role="button">Enviar Pagamento</a>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>

<div class="follow" style="padding-top: 10px; padding-bottom: 20px;">

	<div ng-repeat="compra in data.compras">
		<div class="col-sm-12 follow-left text-center">
			<h3>{{ compra.data.toISOString() }}</h3>
			<p>Valor: {{ compra.valor }}</p>
			<p>Forma de Pagamento: {{ compra.metodoPagamento }}</p>
			<p>Formato da Compra: {{ compra.formatoPagamento }}</p>
		</div>
		<hr>
	</div>

	<div ng-show="data.compras==null || data.compras.length==0">
		<div class="col-sm-12 follow-left text-center">
			<h3>Sem compras ainda!</h3>
		</div>
		<hr>
	</div>

	<div class="clearfix"></div>

</div>

<!-- <a href="#">
	<div class="col-md-12 text-center" style="background: purple; height: 50px; padding-top: 13px;">
		<h3 style="color: white;">Mais Transações</h3>
	</div>
</a> -->
