<div class="goals">

	<div class="fit-goals">
		<h3>Dados da Transação:</h3>
		<div class="col-sm-6 goal-left">
			<div class="goal-img">
				<div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
					<div class="teste" style="width: 80px; height: 80px; border: solid 3px white; border-radius: 80px;display: block; margin-left: auto; margin-right: auto;"><a href="#"><i class="fa fa-usd fa-4x" style="color: white; margin-top: 7px;"></i></a></div>
				</div>
			</div>
			<div class="goal-info">
				<h4>Valor da Transação</h4>
				<input type="text" placeholder="R$ 40,00" style="width: 50%; height:40px; border-radius: 25px; text-align: center;" ng-model="valor">
			</div>
			<div class="clearfix"></div>
		</div>

		<div class="col-sm-6 goal-left">
			<div class="goal-img">
				<div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
					<div class="teste" style="width: 80px; height: 80px; border: solid 3px white; border-radius: 80px;display: block; margin-left: auto; margin-right: auto;"><a href="#"><i class="fa fa-commenting fa-3x" style="color: white; margin-top: 12px;"></i></a></div>
				</div>
			</div>
			<div class="goal-info">
				<h4>Descrição da Transação</h4>
				<textarea name="descricao" id="descricao" cols="24" rows="3" style="border-radius: 25px; padding: 15px;" ng-model="descricao" maxlength="140"></textarea>
			</div>
			<div class="clearfix"></div>
		</div>

		<div class="clearfix"></div>
	</div>

</div>

<div class="goals">
	<div class="fit-goals">
		<h3>Confirmar Dados & Gerar QRCode:</h3>
		<div class="col-sm-6 goal-left">
				<div class="teste" style="width: 300px; height: 80px; border: solid 3px white; border-radius: 80px;display: block; margin-left: auto; margin-right: auto; background: #194974;">
				<div class="goal-img">

					<div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
						<a href="#"><i class="fa fa-qrcode fa-3x" style="color: white; margin-top: 15px; margin-left: 25px;"></i></a></div>
					</div>
					<button data-toggle="modal" data-target="#myModal" style="background: none; border: none; outline: 0;" ng-click="gerarCodigo();">
						<div class="goal-info" style="width: 130px;">
							<h2 style="color: white; margin-top: 20px;">Gerar QR</h2>
						</div>
					</button>
					<div class="clearfix"></div>
				</div>
			</div>

			<div class="clearfix"></div>

			<!-- Modal -->
			  <div class="modal fade" id="myModal" role="dialog" style="margin-right: 6px; margin-top: 120px;">
			    <div class="modal-dialog">

			      <!-- Modal content-->
			      <div class="modal-content">
			        <div class="modal-header">
			          <button type="button" class="close" data-dismiss="modal">&times;</button>
			          <h4 class="modal-title" style="color: #194974; text-align: center;"><i class="fa fa-qrcode"></i> QRCode para Compartilhar</h4>
			        </div>

					<center>
						<img src="https://api.qrserver.com/v1/create-qr-code/?size=200x200&data={{ qrcodeData || 'a' }}" alt="" style="width: 90%; margin-top: 20px; height:325px;">
						<!-- <qrcode version="2" error-correction-level="M" size="200" data="{{ qrcodeData }}" download></qrcode> -->
					</center>

			        <button type="button" class="btn btn-default" data-dismiss="modal" style="width: 100%; background: #194974; color: white; border: none; font-size: 20px; margin-top: 30px;">Fechar</button>

			      </div>

			    </div>
			  </div>
	</div>
</div>
